/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background: transparent;
  border: 0;
  outline: 0; }

html {
  font-size: 16px; }

body {
  font-family: "Lato", sans-serif;
  color: #28282D;
  font-size: 1rem;
  line-height: 1.5; }

.icon {
  width: 32px;
  height: 32px;
  background-color: #d4e1f7;
  border: 1px solid #94b5ec;
  border-radius: 50%;
  color: #296AD9; }

.title-caps {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px; }

.input {
  font-family: "Lato", sans-serif;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #E3E8F2;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px; }
  .input.is-fullwidth {
    width: 100%; }

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 21px;
  min-width: 21px;
  background-color: #d4e1f7;
  border: 1px solid #94b5ec;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #296AD9; }

.main {
  background: #E3E8F2;
  min-height: 100vh; }

.has-sidebar .main {
  padding-left: 280px; }

.has-topbar .main {
  padding-top: 70px; }

.app-topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 200; }
  .app-topbar .topbar-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem; }
    .app-topbar .topbar-item.is-left {
      margin-right: auto; }
    .app-topbar .topbar-item.is-right {
      margin-left: auto; }
  .app-topbar .topbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .app-topbar .topbar-menu .menu-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .app-topbar .topbar-menu .menu-item:not(:last-child) {
        margin-right: 1.5rem; }
      .app-topbar .topbar-menu .menu-item .profile-picture {
        width: 32px;
        height: 32px;
        background-color: #d4e1f7;
        border: 1px solid #94b5ec;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 0.75rem; }
      .app-topbar .topbar-menu .menu-item .profile-name {
        font-size: 0.875rem;
        font-weight: 700; }
  .app-topbar .logo {
    width: 136px;
    height: 32px; }

.has-topbar .app-sidebar {
  padding-top: 70px; }

.app-sidebar {
  position: fixed;
  width: 280px;
  height: 100vh;
  background-color: #F9FBFE;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 100; }
  .app-sidebar .sidebar-menu {
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem; }
    .app-sidebar .sidebar-menu .menu-title {
      margin-bottom: 1.5rem; }
    .app-sidebar .sidebar-menu .menu {
      margin-top: 1.5rem; }
      .app-sidebar .sidebar-menu .menu .menu-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .app-sidebar .sidebar-menu .menu .menu-item:not(:last-child) {
          margin-bottom: 1rem; }
        .app-sidebar .sidebar-menu .menu .menu-item a {
          display: block;
          color: #28282D;
          font-weight: 300;
          text-decoration: none;
          position: relative;
          padding: 0.5rem;
          border-radius: 4px;
          border: 1px solid transparent;
          -webkit-transition: all 375ms cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: all 375ms cubic-bezier(0.215, 0.61, 0.355, 1); }
          .app-sidebar .sidebar-menu .menu .menu-item a:hover {
            border-color: #94b5ec;
            background-color: #d4e1f7; }
          .app-sidebar .sidebar-menu .menu .menu-item a:before {
            content: '# ';
            color: #949496; }
        .app-sidebar .sidebar-menu .menu .menu-item .counter {
          margin-left: 0.25rem; }

.app-body {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem; }

.section:not(:last-child) {
  margin-bottom: 2rem; }

.section.is-boxed {
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); }
