.section {
	&:not(:last-child) {
		margin-bottom: $gap-xmedium;
	}

	&.is-boxed {
		background-color: $color-white;
		box-shadow: $shadow-default;
	}

	&.section-title {
		.section-body {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.pagetitle {
			font-size: $size-1;
			font-weight: 700;

			&:before {
				content: "# ";
				color: $color-black-ll;
			}
		}
	}

	.section-footer {
		border-top: 1px solid $color-secondary;
		display: flex;

		.footer-item {
			display: flex;
			align-items: center;
			padding: $gap-small;

			&.is-left {
				margin-right: auto;
			}

			&.is-right {
				margin-left: auto;
			}
		}

		.beat-control {
			display: flex;
			align-items: center;

			&:not(:last-child) {
				margin-right: $gap-small;
			}

			.time-controls {
				display: flex;
				align-items: center;
				margin-left: $gap-xsmall;

				.control-item {
					font-size: $size-7;
					font-weight: 700;
					height: 21px;
					background-color: $color-primary-lll;
					border: 1px solid $color-primary-ll;
					border-radius: $borderRadius-default;

					&:not(:last-child) {
						margin-right: $gap-xxsmall;
					}
				}
			}

			.control-label {
				text-transform: uppercase;
				font-weight: 700;
				font-size: $size-6;
				margin-right: $gap-small;
			}

			.controls {
				display: flex;

				.dot {
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: $color-secondary;
					margin-right: $gap-xxsmall;

					&.is-seo {
						background-color: $color-seo;
					}

					&.is-sea {
						background-color: $color-sea;
					}

					&.is-social {
						background-color: $color-social;
					}

					&.is-analytics {
						background-color: $color-analytics;
					}

					&.is-code {
						background-color: $color-code;
					}
				}
			}
		}
	}
}
