// fonts
$font-primary: "Lato", sans-serif;

// colors
$color-white: #ffffff;
$color-black: #28282d;
$color-black-ll: tint($color-black, 50);
$color-black-lll: tint($color-black, 40);

$color-primary: #296ad9;
$color-primary-l: tint($color-primary, 50);
$color-primary-ll: tint($color-primary, 80);
$color-primary-lll: tint($color-primary, 90);

$color-seo: #ff5046;
$color-sea: $color-primary;
$color-social: #29d97b;
$color-analytics: #ff882f;
$color-code: #ff2fa0;

$color-secondary: #e3e8f2;

$color-danger: #FF4862;

$background-default: $color-white;
$background-light: #f9fbfe;
$background-app: $color-secondary;

// shadows
$shadow-default: 0 3px 6px rgba(0, 0, 0, 0.1);

// measurements
$sidebar-width: 280px;
$topbar-height: 70px;

// font-sizes
$size-root: 16px;
$size-1: 2.375rem; // 38px
$size-2: 1.5rem; // 24px
$size-3: 1.375rem; // 22px
$size-4: 1.125rem; // 18px
$size-5: 1rem; // 16px
$size-6: 0.875rem; // 14px
$size-7: 0.75rem; // 12px

// line-height
$lineHeight-small: 1.1;
$lineHeight-medium: 1.5;

// paddings & margins
$gap-xxxsmall: 0.25rem; // 4
$gap-xxsmall: 0.5rem; // 8
$gap-xsmall: 0.75rem; // 12
$gap-small: 1rem; // 16
$gap-medium: 1.5rem; // 24
$gap-xmedium: 2rem; // 32
$gap-large: 3rem; // 48
$gap-xlarge: 4rem; // 64
$gap-xxlarge: 6rem; // 96

// misc
$borderRadius-default: 4px;

// Transitions
$transition-bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$transition-smooth: cubic-bezier(0.215, 0.61, 0.355, 1);
$transition-default: all 375ms $transition-smooth;

// body settings
$body-font: $font-primary;
$body-color: $color-black;
$body-size: $size-5;
$body-lineHeight: $lineHeight-medium;
