.button {
	display: flex;
	align-items: center;
	height: 40px;
	font-weight: 700;
	border-radius: $borderRadius-default;
	padding-left: $gap-xsmall;
	padding-right: $gap-xsmall;
	cursor: pointer;

	&:not(.is-invert) {
		background-color: $color-primary;
		color: $color-white;
	}

	&.is-invert {
		.icon {
			color: $color-primary;
			background-color: $color-primary-lll;
		}
	}

	&.is-danger {
		.icon {
			color: $color-danger;
            background-color: tint($color-danger, 80);
            border-color: tint($color-danger, 60);
		}
	}

	&.has-icon-left .icon {
		margin-right: $gap-xsmall;
	}
}
