.input {
  font-family: $body-font;
  border-radius: $borderRadius-default;
  background-color: $color-white;
  border: 1px solid $background-app;
  padding: 0 $gap-small;
  box-sizing: border-box;
  height: 32px;

  &.is-fullwidth {
    width: 100%;
  }
}
